name: Build APK
on: [push]
jobs:
  android-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Auto-Setup Gradle
        run: |
          if [ ! -f gradlew ]; then
            gradle wrapper --gradle-version 8.5
          fi
          chmod +x gradlew
      - name: Build with Force
        run: ./gradlew assembleDebug --no-daemon
      - name: Save APK
        uses: actions/upload-artifact@v4
        with:
          name: My-Game-APK
          path: "**/*.apk"
          
