name: Build APK
on: [push]
jobs:
  android-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build with Gradle
        run: |
          gradle wrapper --gradle-version 8.5
          chmod +x gradlew
          ./gradlew assembleDebug --stacktrace
      - name: Save APK
        uses: actions/upload-artifact@v4
        with:
          name: My-Game-Build
          path: "**/*.apk"
          
